{
  "root": true,
  "env": {
    "browser": true,
    "es2022": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": [
    "dist",
    ".eslintrc.cjs",
    "package-lock.json",
    "package.json",
    "node_modules/",
    "coverage/"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "18.0.0"
    }
  },
  "plugins": ["react-refresh", "jest", "react"],
  "rules": {
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true }
    ],
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "React"
      }
    ]
  }
}
