.about {
  color: black;
  padding: 100px 0;
  position: relative;
  text-align: center;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about-border {
  padding: 20px;
  position: relative;
  border: 4px solid #b89338;
  border-radius: 20px;
  transition: border-color 0.3s ease;
}

.about:hover .about-border {
  border-color: #b89338;
}

.about-text {
  margin-bottom: 40px;
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #002566;
  position: relative;
}

.about-title::before {
  content: 'A';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(5% 0%, 25% 0%, 15% 100%, 0% 100%);
  background-color: transparent;
  animation: glitch 1s infinite alternate-reverse;
}

@keyframes glitch {
  0% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.6;
}

.glitch-image {
  width: 200px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  border: 6px solid #b89338;
  transition: transform 0.3s ease;
}

.glitch-image:hover {
  transform: scale(1.1);
}

.about-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
