@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global Styles */
body {
  font-family: 'Optima', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Add any other global styles you want */
.transition-fade {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.transition-fade-in {
  opacity: 1;
  transform: translateY(0);
}
