/* Projects Styles */
.projects {
  /* background-color: #0d0d0d; */
  color: #000000; /* White text color */
  padding: 100px 0;
}

.projects-content {
  max-width: 1200px;
  margin: 0 auto;
}

.projects-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

.project {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(184, 147, 56, 0.7);
}

.project img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.project-button {
  display: inline-block;
  padding: 8px 20px;
  background-color: #00b3e6; /* Highlight color */
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.project-button:hover {
  background-color: #018ac0; /* Darker highlight on hover */
}
