/* Skills Styles */
.skills {
  background-color: #141414; /* Dark background color */
  color: #ffffff; /* White text color */
  padding: 100px 0;
  text-align: center;
  animation: fadeIn 1s ease-in-out; /* Add a fade-in animation */
}

.skills-content {
  max-width: 1200px;
  margin: 0 auto;
}

.skills-title {
  font-size: 2rem;
  margin-bottom: 40px;
  animation: bounceIn 1s ease-in-out; /* Add a bounce-in animation */
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.skill-category {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #252525; /* Darker background color for skill categories */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.2s ease-in-out; /* Add a hover effect */
}

.skill-category:hover {
  transform: translateY(-5px);
}

.skill-category h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.skill-category ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill-category li {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
