/* Skills.css */

.skills {
  padding: 100px 0;
  text-align: center;
  color: #ffffff;
}

.skills-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #000000;
  text-shadow: 8px 8px 16px rgba(184, 147, 56, 0.5); /* Increased text shadow size */
  background: rgba(255, 255, 255, 0.7);
  padding: 15px 30px; /* Increased padding */
  border-radius: 10px;
  display: inline-block;
}

.skills-container {
  max-width: 1200px;
  margin: 0 auto; /* Center the skills-container */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Updated styles for .carousel-content */
.carousel-content {
  background-color: rgba(0, 0, 0, 0.7); /* Updated background color with more transparency */
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}

.carousel-title {

}

/* Updated styles for .section-content */
.carousel-content .section-content {
  padding: 20px;
}

/* Updated styles for .development, .cloud, and .devops */
.carousel-content.development,
.carousel-content.cloud,
.carousel-content.devops {
  flex: 2;
  border-radius: 10px;
  padding: 40px; /* Increased padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9); /* Increased background transparency */
  width: 100%;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
}

/* Updated styles for .section-content within carousel */
.carousel-content .section-content {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(184, 147, 56, 0.7));
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
}

.carousel-content .section-content h3 {
  color: #002566;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.carousel-content .section-content ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-left: 20px;
}

.carousel-content .section-content ul li {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

/* Scale up the text and box on hover */
.carousel-content .section-content ul li.grow-on-hover:hover {
  transform: scale(1.1);
}

/* Add this style to make the text grow on hover */
.grow-on-hover {
  transition: transform ease-in-out;
}
