/* Skills.css */
.skills {
  padding: 100px 0;
  text-align: center;
  color: #ffffff;
}

.skills-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.skills-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #b89338;
  animation:
    fadeIn 1s ease-in-out,
    bounceIn 1s ease-in-out;
}

.skills-section {
  display: flex;
  margin-bottom: 40px;
  animation: fadeInUp 1s ease-in-out;
}

.section-image {
  /* flex: 1; */
  text-align: center;
}

.section-image img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.section-content {
  flex: 2;
  background-color: rgba(184, 147, 56, 0.7);
  border-radius: 10px;
  padding: 20px;
}

.section-content h3 {
  color: #002566;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.section-content ul {
  list-style: none;
  padding: 0;
}

.section-content ul li {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

/* Keyframe animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
