@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), black);
}
