:root,
[data-bs-theme='light'] {
  --bs-primary: #004d8e;
  --bs-primary-rgb: 0, 77, 142;
  --bs-primary-text-emphasis: #001f39;
  --bs-primary-bg-subtle: #ccdbe8;
  --bs-primary-border-subtle: #99b8d2;
  --bs-secondary: #fee04b;
  --bs-secondary-rgb: 254, 224, 75;
  --bs-secondary-text-emphasis: #665a1e;
  --bs-secondary-bg-subtle: #fff9db;
  --bs-secondary-border-subtle: #fff3b7;
  --bs-success: #b79065;
  --bs-success-rgb: 183, 144, 101;
  --bs-success-text-emphasis: #493a28;
  --bs-success-bg-subtle: #f1e9e0;
  --bs-success-border-subtle: #e2d3c1;
  --bs-info: #cac2be;
  --bs-info-rgb: 202, 194, 190;
  --bs-info-text-emphasis: #514e4c;
  --bs-info-bg-subtle: #f4f3f2;
  --bs-info-border-subtle: #eae7e5;
  --bs-warning: #dc3545;
  --bs-warning-rgb: 220, 53, 69;
  --bs-warning-text-emphasis: #58151c;
  --bs-warning-bg-subtle: #f8d7da;
  --bs-warning-border-subtle: #f1aeb5;
  --bs-light: #cac3be;
  --bs-light-rgb: 202, 195, 190;
  --bs-light-text-emphasis: #514e4c;
  --bs-light-bg-subtle: #f4f3f2;
  --bs-light-border-subtle: #eae7e5;
  --bs-dark: #463930;
  --bs-dark-rgb: 70, 57, 48;
  --bs-dark-text-emphasis: #1c1713;
  --bs-dark-bg-subtle: #dad7d6;
  --bs-dark-border-subtle: #b5b0ac;
  --bs-link-color: #cac3be;
  --bs-link-color-rgb: 202, 195, 190;
  --bs-link-hover-color: #cac3be;
  --bs-link-hover-color-rgb: 202, 195, 190;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #004d8e;
  --bs-btn-border-color: #004d8e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #004179;
  --bs-btn-hover-border-color: #003e72;
  --bs-btn-focus-shadow-rgb: 217, 228, 238;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #003e72;
  --bs-btn-active-border-color: #003a6b;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #004d8e;
  --bs-btn-disabled-border-color: #004d8e;
}

.btn-outline-primary {
  --bs-btn-color: #004d8e;
  --bs-btn-border-color: #004d8e;
  --bs-btn-focus-shadow-rgb: 0, 77, 142;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #004d8e;
  --bs-btn-hover-border-color: #004d8e;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #004d8e;
  --bs-btn-active-border-color: #004d8e;
  --bs-btn-disabled-color: #004d8e;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #004d8e;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #fee04b;
  --bs-btn-border-color: #fee04b;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #fee566;
  --bs-btn-hover-border-color: #fee35d;
  --bs-btn-focus-shadow-rgb: 38, 34, 11;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #fee66f;
  --bs-btn-active-border-color: #fee35d;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #fee04b;
  --bs-btn-disabled-border-color: #fee04b;
}

.btn-outline-secondary {
  --bs-btn-color: #fee04b;
  --bs-btn-border-color: #fee04b;
  --bs-btn-focus-shadow-rgb: 254, 224, 75;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #fee04b;
  --bs-btn-hover-border-color: #fee04b;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #fee04b;
  --bs-btn-active-border-color: #fee04b;
  --bs-btn-disabled-color: #fee04b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fee04b;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #b79065;
  --bs-btn-border-color: #b79065;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #c2a17c;
  --bs-btn-hover-border-color: #be9b74;
  --bs-btn-focus-shadow-rgb: 27, 22, 15;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #c5a684;
  --bs-btn-active-border-color: #be9b74;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #b79065;
  --bs-btn-disabled-border-color: #b79065;
}

.btn-outline-success {
  --bs-btn-color: #b79065;
  --bs-btn-border-color: #b79065;
  --bs-btn-focus-shadow-rgb: 183, 144, 101;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #b79065;
  --bs-btn-hover-border-color: #b79065;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #b79065;
  --bs-btn-active-border-color: #b79065;
  --bs-btn-disabled-color: #b79065;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b79065;
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: #cac2be;
  --bs-btn-border-color: #cac2be;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #d2cbc8;
  --bs-btn-hover-border-color: #cfc8c5;
  --bs-btn-focus-shadow-rgb: 30, 29, 29;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #d5cecb;
  --bs-btn-active-border-color: #cfc8c5;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #cac2be;
  --bs-btn-disabled-border-color: #cac2be;
}

.btn-outline-info {
  --bs-btn-color: #cac2be;
  --bs-btn-border-color: #cac2be;
  --bs-btn-focus-shadow-rgb: 202, 194, 190;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #cac2be;
  --bs-btn-hover-border-color: #cac2be;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #cac2be;
  --bs-btn-active-border-color: #cac2be;
  --bs-btn-disabled-color: #cac2be;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #cac2be;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #dc3545;
  --bs-btn-border-color: #dc3545;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb2d3b;
  --bs-btn-hover-border-color: #b02a37;
  --bs-btn-focus-shadow-rgb: 250, 225, 227;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b02a37;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

.btn-outline-warning {
  --bs-btn-color: #dc3545;
  --bs-btn-border-color: #dc3545;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dc3545;
  --bs-btn-hover-border-color: #dc3545;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dc3545;
  --bs-btn-active-border-color: #dc3545;
  --bs-btn-disabled-color: #dc3545;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #dc3545;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #cac3be;
  --bs-btn-border-color: #cac3be;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #aca6a2;
  --bs-btn-hover-border-color: #a29c98;
  --bs-btn-focus-shadow-rgb: 30, 29, 29;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #a29c98;
  --bs-btn-active-border-color: #98928f;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #cac3be;
  --bs-btn-disabled-border-color: #cac3be;
}

.btn-outline-light {
  --bs-btn-color: #cac3be;
  --bs-btn-border-color: #cac3be;
  --bs-btn-focus-shadow-rgb: 202, 195, 190;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #cac3be;
  --bs-btn-hover-border-color: #cac3be;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #cac3be;
  --bs-btn-active-border-color: #cac3be;
  --bs-btn-disabled-color: #cac3be;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #cac3be;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #463930;
  --bs-btn-border-color: #463930;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3c3029;
  --bs-btn-hover-border-color: #382e26;
  --bs-btn-focus-shadow-rgb: 227, 225, 224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #382e26;
  --bs-btn-active-border-color: #352b24;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #463930;
  --bs-btn-disabled-border-color: #463930;
}

.btn-outline-dark {
  --bs-btn-color: #463930;
  --bs-btn-border-color: #463930;
  --bs-btn-focus-shadow-rgb: 70, 57, 48;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #463930;
  --bs-btn-hover-border-color: #463930;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #463930;
  --bs-btn-active-border-color: #463930;
  --bs-btn-disabled-color: #463930;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #463930;
}
